 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: url("pattern.png");
}

.main {
    background: #ccc;
    width: 350px;
    height: 400px;
    margin: 100px auto;
    position: relative;
    padding: 30px;
}

.badge {
    width: 200px;
    background: #e66357;
    color: white;
    padding: 5px 10px;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    top: -15px;
    left: 20%;
}

.clock {
    background: url("rice paper.jpg");
    text-align: center;
    font-size: 100px;
    height: 100%;
    padding-top: 50px;
    font-family: Orbitron;
    border-radius: 30px;
}

.second {
    background: #ccc;
    width: 350px;
    height: 400px;
    margin: 100px auto;
    position: relative;
    padding: 30px;
}

.ml4 {
    position: relative;
    font-weight: 900;
    font-size: 4.5em;
  }
  .ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
  }

.box {
    background: pink;
    text-align: center;
    font-size: 100px;
    height: 100%;
    padding-top: 150px;
    font-family: Orbitron;
    border-radius: 30px;
}



  