 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("pattern.png");
}

.main {
    background: #ccc;
    width: 350px;
    height: 400px;
    margin: 100px auto;
    position: relative;
    padding: 30px;
}

.firstbadge {
    width: 200px;
    background: #e66357;
    color: white;
    text-align: center;
    padding: 5px 10px;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    top: -15px;
    left: 20%;
}

.clock {
    background: url("rice paper.jpg");
    text-align: center;
    font-size: 100px;
    height: 100%;
    padding-top: 50px;
    font-family: Orbitron;
    border-radius: 30px;
}

#container {
    background-color: teal;
    border: 5px solid black;
    height: 150px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
}

#btn {
    margin: 50px auto;
    height: 50px;
    width: 250px;
    font-size: 20px;
    background-color: rgb(195, 172, 172);
    border: 2px solid white;
    border-radius: 10px;
}

#clickbox {
    margin: 50px auto;
    height: 75px;
    width: 150px;
    background-color: lightgreen;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    font-family: Verdana;
    box-shadow: 5px 10px;
}





.second {
    background: #ccc;
    width: 350px;
    height: 400px;
    margin: 100px auto;
    position: relative;
    padding: 30px;
}



.box {
    background: pink;
    text-align: center;
    font-size: 100px;
    height: 100%;
    padding-top: 150px;
    font-family: Orbitron;
    border-radius: 30px;
}

.score-board {
    margin: 20px auto;
    border: 3px solid black;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    color: black;
    font-size: 46px;
    padding: 15px 5px;
    position: relative;
}

.badge {
    background: mediumslateblue;
    color: black;
    font-size: 20px;
    padding: 10px 10px;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label {
    position: absolute;
    top: 30px;
    right: -55px;
}

.result {
    font-size: 40px;
    font-color: black;
}

.result > p {
    text-align: center;
    font-weight: bold;
    }

.choices {
    margin: 50px 0;
    text-align: center;
    
}
    .choice {
    border: 4px solid black;
    margin: 0 15px;
    padding: 10px;
    display: inline-block;
}
  